@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
      .container__limiter{
          @apply container mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-0
        }
      .hero{
        min-height: calc(100vh - 130px);
      }
      .hero-bg{
        background-image: url("../images/carousal1.jpg");
      }
      .hero-bg-2{
        background-image: url("../images/carousal2.jpg");
      }
      .hero-bg-3{
        background-image: url("../images/carousal3.jpg");
      }

      /* overriding the default modal  */
      /* firefox */
      .property__scroll {
        scrollbar-width: .5rem;
      }
      .property__scroll:-webkit-scrollbar {
        width: .5rem;
        border-radius: 6px;
        background-color: rgba(112, 128, 144, .3);
        padding: 1rem;
      }
      /* .container:-webkit-scrollbar-track {
        background: transparent;
      } */
      .property__scroll:-webkit-scrollbar-thumb {
        background-color: #434c58;
        border-radius: 6px;
      }

      .property__scroll::-webkit-scrollbar-thumb {
        background-color: #434c58;
        border-radius: 6px;
      }
      .property__scroll::-webkit-scrollbar {
        width: .5rem;
        border-radius: 6px;
        background-color: transparent;
        padding: 1rem;
      }

      .map-scroll::-webkit-scrollbar{
        display: hidden;
        width: 0px;
      }
}
.leaflet-container{
  @apply h-full w-full
}

